.colour-container {
    border: 3px solid lightgray;
    border-radius: 10px;
    padding: 12px;
}
.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.colour-character {
    width: 35px;
    font-size: 20px;
}
.colour-box {
    border-radius: 2px;
    width: 40px;
    height: 20px;
}
