body {
    width: 126px;
}
h2 {
    text-align: center;
}
.colour-container {
    /* border: 3px solid lightgray; */
    border-radius: 10px;
    padding: 12px;
}
.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.colour-character {
    width: 35px;
    font-size: 22px;
}
.colour-box {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 5px;
    /* padding: 0%; */
    /* padding-top: 0%; */
    /* padding-bottom: 0%; */
}
